:local(.contextMenu) {
    .dropdown-item {
        display: flex;
        flex-direction: row;

        :local(.icon) {
            align-self: flex-start;
            min-width: 1em;
            max-width: 1em;
            margin-right: 6px;
            display: inline-block;
        }

        :local(.text) {
            justify-self: stretch;
            display: inline-block;
        }
    }
}
